In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv("logs.csv", parse_dates=["Fecha"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74307 entries, 0 to 74306
Data columns (total 24 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        74307 non-null  datetime64[ns]
 1   Usuario      74307 non-null  object
 2   ID           74307 non-null  int64
 3   Acceso       74307 non-null  object
 4   Descripción  74307 non-null  object
 5   IP           74307 non-null  object
 6   Evento       74307 non-null  object
 7   nsesiones    15323 non-null  float64
 8   pieza        32807 non-null  object
 9   piezaid      32807 non-null  float64
 10  catalogo     32807 non-null  object
 11  diseñoid     42825 non-null  float64
 12  userid       10979 non-null  float64
 13  minutos      4893 non-null   float64
 14  fabricante   86 non-null     object
 15  logo         7 non-null      object
 16  email        5 non-null      object
 17  city         63683 non-null  object
 18  region       63683 non-null  object
 19  country      63683 non-null  object
 20  lat          63683 non-null  float64
 21  lng          63683 non-null  float64
 22  Hora         74307 non-null  int64
 23  NombreDia    74307 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(2), object(14)
memory usage: 13.6+ MB

C:\Users\alvar\AppData\Local\Temp\ipykernel_12852\69579911.py:1: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("logs.csv", parse_dates=["Fecha"])

In [3]:
# Formato: mysql+mysqlconnector://usuario:contraseña@host:puerto/nombre_bd
engine = create_engine("mysql+mysqlconnector://root:root@localhost:3306/logs")

In [4]:
df.to_sql(name="logs", con=engine, if_exists="replace", index=False)

-1

In [6]:
pd.read_sql("SELECT * FROM logs LIMIT 5", con=engine)

,Fecha,Usuario,ID,Acceso,Descripción,IP,Evento,nsesiones,pieza,piezaid,...,fabricante,logo,email,city,region,country,lat,lng,Hora,NombreDia
0,2025-02-03 14:01:00,#0 - null,4466470,CONN,(Sesiones activas 56) Sesión conectada,-1,CONEXION,56.0,None,NaN,...,None,None,None,None,None,None,NaN,NaN,14,Monday
1,2025-02-03 14:01:00,#13856 - COLCHONERIA 3000. S.L.,4466469,OK,Añadida la pieza M10749 con id 419579 del catá...,86.106.2.231,AÑADIR_PIEZA,NaN,M10749,419579.0,...,None,None,None,Valencia,Valencia,ES,39.4739,-0.3797,14,Monday
2,2025-02-03 14:01:00,#2708 - GRUPO HERVI FUENTE ALAMO SL,4466468,OK,Añadida la pieza B1207 con id 30515 del catálo...,83.138.40.18,AÑADIR_PIEZA,NaN,B1207,30515.0,...,None,None,None,Valencia,Valencia,ES,39.4739,-0.3797,14,Monday
3,2025-02-03 14:01:00,#15274 - DIJUVE,4466467,OK,Visualizar presupuesto para el diseño con id: ...,83.48.121.13,VER_PRESUPUESTO,NaN,None,NaN,...,None,None,None,Donostia / San Sebastián,Basque Country,ES,43.3128,-1.9750,14,Monday
4,2025-02-03 14:01:00,#0 - null,4466466,CONN,(Sesiones activas 55) Sesión desconectada,-1,DESCONEXION,55.0,None,NaN,...,None,None,None,None,None,None,NaN,NaN,14,Monday